<div class="panel panel-primary "> 
  <div class="panel-heading">
    <p>Digite titulo, descrição, data e hora da tarefa</p>
  </div>
  <div class="panel-body">
    <%= simple_form_for @tarefa do |f| %>
      <p>
        <%= f.input :titulo, placeholder: 'Digite o Titulo da sua tarefa'%><br>
        <%= f.input :descricao, placeholder: 'Descreva sua tarefa'%><br>
        <%= f.input :data %><br>
        <%= f.button :submit %>
      </p>   
    <% end %>
  </div>
</div>
