<h1>Lista de tarefas</h1>
<div id="botoes">
  <%= link_to 'Nova Tarefa', new_tarefa_path, class: "btn btn-primary btn-lg", id: "newtask" %>
  <%= link_to 'Tarefas Completas', complete_index_tarefas_path, class: "btn btn-primary btn-lg", id: "completetask" %>
</div>

<div class="row">
  <table id="myTable", class="table table-hover text-center">
    <tr>
      <th class=" text-center">Titulo</th>
        <th class=" text-center">Descrição</th>
        <th class=" text-center">Tarefa iniciada em: </th>
        <th class=" text-center">Cronômetro</th>
        <th class=" text-center">Completar Tarefa</th>
        <th colspan="3"></th>
    </tr>
      <% @tarefas.each do |tarefa| %> 
        <% if !tarefa.complete? %>   
          <tr>
            <td><%= tarefa.titulo.truncate(30) %></td> 
            <td><%= tarefa.descricao.truncate(50) %></td>
            <td><%= tarefa.data.strftime("%d/%m/%Y às %H:%M")  %></td>
            <td><%= timeago_tag tarefa.data, :lang => :"pt-br", force: true, :nojs => true, :limit => 30.days.ago %></td>

            <% if tarefa.data < @data %> 
              <td><%= link_to 'Completar', complete_update_tarefa_path(tarefa), class: "btn btn-success ", remote: true , onclick:"deleteRow(this)" %></td>
            <% else %>
              <td><button type="button" class="btn btn-primary">Completar</button></td>
            <% end %>

            <td><%= link_to 'Mostrar', tarefa_path(tarefa), class: "btn btn-default" %></td>
            <td><%= link_to 'Editar', edit_tarefa_path(tarefa), class: "btn btn-default" %></td>
            <td><%= link_to 'Apagar', tarefa_path(tarefa), method: :delete, data: { confirm: 'Tem certeza?'}, class: "btn btn-default" %></td>
          </tr>
        <%end%> 
      <% end %>
  </table>
</div>

