<div class="row container-fluid">
<br><br><br><br>
  <div class="col-md-8 col-md-offset-2">

  <div class="panel panel-info">

  <div class="panel-heading"><h3>Log in</h3></div>

    <div class="panel-body">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.input :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.input :password, label:"Senha" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="col-md-2 actions">
          <%= f.button :submit  %>
        </div>

        <div class="col-md-10 text-right">
          <%= render "devise/shared/links" %>
      </div>
      <% end %>



    </div>
  </div>
</div>
