<div class="row container-fluid">

  <div class="col-md-8 ">

  <div class="panel panel-info">

  <div class="panel-heading"><h2>Log in</h2></div>

    <div class="panel-body">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.input :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.input :password, label:"Senha" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
