<!DOCTYPE html>
<html>
  <head>
    <title>Lista de tarefas</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <%= link_to "Sistema de Tarefas", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Sing out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sing up", new_user_registration_path %></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <%end%> 
          </ul>
        </nav>
      </div>
    </header>            
    <div class="container-fluid">
    <%= yield %>  
  </body>
</html>
